<style>
    .activity {
        background: cyan;
        border-radius: 20px;
        padding: 10px;
        margin-bottom: 10px;
    }
    .title {
        font-size: 1.2em;
        font-weight: bold;
    }
</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../../website/css/itinerary.css">
</head>
<body>
    <div class="itineraryContainer">
        <!-- <%= let day = 1 %>
        <%= let firstDay = data.itinerary[0].date %> -->
        <% for(var i=0; i< data.itinerary.length; i++) {%>

            <!-- <% if (firstDay !== data.itinerary[i].date) { %>
                <%= let day += 1 %>
                <h1>Day <%= day %></h1>
            <% } else { %>
                <p></p>
            <% } %> -->
            
            <div class="activity">
                <h1 class="title"><%= data.itinerary[i].activity %> - <%= data.itinerary[i].location %></h1>
                <p><%=   data.itinerary[i].reviews %></p>
                <p><%= data.itinerary[i].date %>: <%= data.itinerary[i].startTime %> - <%= data.itinerary[i].endTime %> (<%= data.itinerary[i].duration %>)</p>
                <p>Rating: <%= data.itinerary[i].rating %></p>
                <p>Cost: <%= data.itinerary[i].cost %></p>
            </div>
         <% } %>
        
        <!-- <%= data %> -->
    </div>
</body>
</html>

<script>
    // console.log(<%= data %>);
</script>