<style>
    .activity {
        background: cyan;
        border-radius: 20px;
        padding: 10px;
        margin-bottom: 10px;
    }
</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../../website/css/itinerary.css">
</head>
<body>
    <div class="itineraryContainer">
        <% for(var i=0; i< data.Itinerary.length; i++) {%>
            <div class="activity">
                <h2><%= data.Itinerary[i].activity %></h2>
                <p><%= data.Itinerary[i].location %></p>
                <p><%=   data.Itinerary[i].reviews %></p>
                <p><%= data.Itinerary[i].date %>: <%= data.Itinerary[i].startTime %> - <%= data.Itinerary[i].endTime %> (<%= data.Itinerary[i].duration %>)</p>
                <p>Rating: <%= data.Itinerary[i].rating %></p>
                <p>Cost: <%= data.Itinerary[i].cost %></p>
            </div>
         <% } %>
        
        <!-- <%= data %> -->
    </div>
</body>
</html>

<script>
    // console.log(<%= data %>);
</script>