<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Itinerary</title>

    <link rel="stylesheet" href="/itinerary.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
</head>
<body>
    <div class="itineraryContainer">
        <% let day = 1 %>
        <% let currentDate = data.Itinerary[0].Date %>
        <p class="dayBox">Day <%= day %> : <%= data.Itinerary[0].Date %></p>
        <% for( let i = 0; i < data.Itinerary.length; i++ ) { %>
            <% if (currentDate !== data.Itinerary[i].Date) { %>
                <% day += 1 %>
                <p class="dayBox">Day <%= day %> : <%= data.Itinerary[i].Date %></p>
                <% currentDate = data.Itinerary[i].Date %>
            <% } %>
            <div class="activity">
                <% if (data.Itinerary[i].Activity) { %>
                    <h1 class="title"><%= data.Itinerary[i].Activity %></h1>
                <%} else { %>
                    <h1 class="title"><%= data.Itinerary[i].Location %></h1>
                <% } %>

                <p><%= data.Itinerary[i].Reviews %></p>

                <ul class="infoUl">
                    <li class="time"><%= data.Itinerary[i].StartTime %> - <%= data.Itinerary[i].EndTime %></li>
                    <li class="stars">Rating: <%= data.Itinerary[i].Rating %></li>
                    <li class="cost">Cost: <%= data.Itinerary[i].Cost %></li>
                </ul>
            </div>
        <% } %>
    </div>

    <button>Export Calendar</button>

    <div class="ai-chatbot">
        
        <div class="chatbotContainer" id="chatBot" style="display:none;">
            <div class="chatbotMessages" id="chatbotMessages">
                
            </div>

            <div class="messageInput">
                <input name="message" id="chatbotMessage" placeholder="Is Disneyland fun?"/>
                <button onclick="fetchChatbotResponse()">></button>
            </div>
        </div>

        <div class="ai-chatbot-open-btn" id="open-chatbot" onclick="displayChatbot()">+</div>
    </div>
</body>
</html>

<script>
    function displayMessage(message, sender) {
        const messageContainer = document.createElement("span");
        const chatbotMessages = document.getElementById("chatbotMessages");
        messageContainer.innerHTML = message;
        messageContainer.classList.add("textMessage")
        // if sender is user
        if (sender) {
            messageContainer.style.float = "right";
            messageContainer.classList.add("userTextMessage")
        }
        else {
            messageContainer.style.float = "left";
        }
        chatbotMessages.appendChild(messageContainer);
    }
    function fetchChatbotResponse() {
        const chatbotMessage = document.getElementById("chatbotMessage").value;
        displayMessage(chatbotMessage, true)
        document.getElementById("chatbotMessage").value = "";

        // alert(chatbotMessage)
        fetch(`/itinerary/ai-chatbot?data=${chatbotMessage}`, {
            method: 'GET'
        }).then(res => res.json())
        .then(response => {
            if(response.status == "success"){
                displayMessage(response.body, false)
            } else {
                alert("Some error occured")
            }
        }).catch(err => console.log(err))
    }

    function displayChatbot() {
        const chatBotContainer = document.getElementById("chatBot").style.display;
        if (chatBotContainer === "none") {
            document.getElementById("chatBot").style.display = "block";
        }
        else {
            document.getElementById("chatBot").style.display = "none";
        }
    }
    // console.log(<%= data %>);
</script>